{% load static %}
<h1 align="center" style="color:#383838;margin-bottom: 2%;"><b>Article about Cashew Fruit</b></h1>
<div class="row artikel">
    <div class="col-3">
        <a href="https://www.rri.co.id/kesehatan/693775/manfaat-jambu-monyet-untuk-kesehatan" target="_blank">
            <img src="{% static 'img/artikel1.jpeg' %}" width="100%" height="38%"><br><br>
            <p><b>Manfaat Jambu Monyet Untuk Kesehatan
        </a></b></p>
        <p>KBRN, Bintuhan : Jambu mete atau biasa disebut dengan jambu monyet termasuk tanaman yang memiliki bentuk
            lonjong dengan warna kuning atau merah. Buah dengan nama latin anacardium occidentale ini ternyata memiliki
            banyak manfaat bagi kesehatan. <br><br>
            <a href="https://www.rri.co.id/kesehatan/693775/manfaat-jambu-monyet-untuk-kesehatan" target="_blank"
                class="btn btn-primary text-white ">Read More</a>
        </p>
    </div>
    <div class="col-3">
        <a href="https://www.alodokter.com/jambu-monyet-ketahui-kandungan-nutrisi-dan-manfaatnya-bagi-kesehatan"
            target="_blank">
            <img src="{% static 'img/artikel2.jpg' %}" width="100%" height="38%"><br><br>
            <p><b>Jambu Monyet, Ketahui Kandungan Nutrisi dan Manfaatnya bagi Kesehatan
        </a></b></p>
        <p>Jambu monyet merupakan salah satu buah yang banyak tumbuh di daerah beriklim tropis, termasuk Indonesia. Buah
            ini memiliki banyak manfaat untuk kesehatan, mulai dari mempercepat proses penyembuhan luka hingga
            ... <br><br>
            <a href="https://www.alodokter.com/jambu-monyet-ketahui-kandungan-nutrisi-dan-manfaatnya-bagi-kesehatan"
                target="_blank" class="btn btn-primary text-white ">Read More</a>
        </p>
    </div>
    <div class="col-3">
        <a href="https://hortiindonesia.com/berita/mengenal-fakta-unik-jambu-mete-mengapa-disebut-jambu-monyetquestion"
            target="_blank">
            <img src="{% static 'img/artikel3.jpg' %}" width="100%" height="38%"><br><br>
            <p><b>Mengenal Fakta Unik Jambu Mete, Mengapa Disebut Jambu Monyet?
        </a></b></p>
        <p>Jambu mete atau jambu mente adalah salah satu komoditas perkebunan yang juga mempunyai nilai strategis karena
            semua bagian pohonnya dapat bermanfaat mulai dari buah, biji, batang, daun hingga akar. Jambu jenis ini
            mempunyai ...<br><br>
            <a href="https://hortiindonesia.com/berita/mengenal-fakta-unik-jambu-mete-mengapa-disebut-jambu-monyetquestion"
                target="_blank" class="btn btn-primary text-white ">Read More</a>
        </p>
    </div>
</div>
<h4 align="center" >
    <b><a href="https://www.google.com/search?q=buah+jambu+mete" target="_blank" style="color:#383838">
        Find More Article &raquo;</a></b>
</h4>