{% extends "base.html" %}
{% block isi_konten %}
    <div class="container col-12">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <div class="card mt-5 shadow-lg">
                    <div class="card-header text-center text-white bg-warning">
                        <h3>Ubah Kata Sandi</h3>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger">
                                        <p>{{ message }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <form method="POST" class="mt-4">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="old_password" class="mt-3">Kata Sandi Lama:</label>
                                <input type="password" name="old_password" class="form-control" required>
                                <small class="helptext">Masukkan kata sandi lama Anda</small><br>

                                <label for="new_password1" class="mt-3">Kata Sandi Baru:</label>
                                <input type="password" name="new_password1" class="form-control" required>
                                <ul class="mt-2">
                                    <li>Kata sandi Anda tidak boleh terlalu mirip dengan informasi pribadi lainnya.</li>
                                    <li>Kata sandi harus mengandung minimal 8 karakter.</li>
                                    <li>Kata sandi tidak boleh terlalu umum digunakan.</li>
                                    <li>Kata sandi tidak boleh hanya berupa angka.</li>
                                </ul>
                                
                                <label for="new_password2" class="mt-3">Konfirmasi Kata Sandi Baru:</label>
                                <input type="password" name="new_password2" class="form-control" required>
                                <small class="helptext">Masukkan kata sandi baru yang sama untuk verifikasi.</small>
                            </div>
                            <button type="submit" class="btn btn-warning btn-block mt-3">Ubah Kata Sandi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock isi_konten %}
