{% load static %}
<div style="background-color: white;">
    <footer class="col-12">
        <span>&copy; 2025 Cashew Fruit Meter v1.0. All Right Reserved.</span>
        <span style="margin-left: 46.2%;">
            <a href="https://web.facebook.com/" role="button" target="_blank"><img width="2%"
                    src="{% static 'img/fb.png' %}"></a>
            <a href="https://www.instagram.com/" role="button" target="_blank"><img width="2%"
                    src="{% static 'img/ig.png' %}"></a>
            <a href="https://www.tiktok.com/" role="button" target="_blank"><img width="2%"
                    src="{% static 'img/tiktok.webp' %}"></a>
            <a href="https://x.com/" role="button" target="_blank"><img width="2%" src="{% static 'img/x.png' %}"></a>
            <a href="https://www.youtube.com/" role="button" target="_blank"><img width="2%"
                    src="{% static 'img/yt.png' %}"></a>
    </footer>
</div>